
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.list-inline {
    padding-left: 0;
    list-style: none;
}
.text-reset {
    color: inherit!important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.pt-2, .py-2 {
    padding-top: .5rem!important;
}
/*media 320 start*/
@media (min-width: 320px) and (max-width: 480px) {
    .mr-10 {
        margin-right: 0.6rem !important;
    }

    .top-header-nav li {
        padding: 0px;
    }
    .element-text-float-right {
        float: none !important;
    }
    .strength-text-left {
        text-align: center!important;
    }
    .strength-text-right{
        text-align: center!important;
    }
    .sc-cart-item-summary{
        text-align:right;
        margin-top:5px;
        padding-top:5px
    }
}
/*media 320 end*/
/*media 768 start*/
@media (min-width: 768px){
    .banner-wrapper img {
        height: 211px;
    }
    .element-text-float-right {
        float: right!important;
    }
    .strength-text-left {
        text-align: center!important;
    }
    .strength-text-right{
        text-align: right!important;
    }
}
/*media 768 end*/



.bg-header {
    background-color: #fbeae0!important;
}
.bg-white{
    background-color: #ffffff;

}
.pl-4, .px-4 {
    padding-left: 1rem!important;
}

.pl-1, .px-1 {
    padding-left: 1px!important;
}
.pl-2, .px-2 {
    padding-left: 2px!important;
}
.pl-3, .px-3 {
    padding-left: 3px!important;
}
.pl-5, .px-5 {
    padding-left: 2rem!important;
}
.pl-6, .px-6 {
    padding-left: 3rem!important;
}

.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.pt-2, .py-2 {
    padding-top: .5rem!important;
}

.pt-2 {
    padding-top: 5px!important;
}
.pt-3 {
    padding-top: 1rem!important;
}
.ptb-10px {
    padding: 10px 0;
}
.mt-0 {
    margin-top: 0px;
}
.mt-1 {
     margin-top: 1px;
 }
.mt-2 {
    margin-top: 2px;
}
.mt-3 {
    margin-top: 3px;
}
.mt-4 {
    margin-top: 4px;
}
.mt-5 {
    margin-top: 5px;
}
.mt-6 {
    margin-top: 6px;
}
.mt-7 {
    margin-top: 7px;
}
.mt-8{
    margin-top: 8px;
}
.mt-9 {
     margin-top: 9px;
 }
.mt-10 {
    margin-top: 10px;
}
.mr-0{
    .margin-right: 0px;
}
.mr-1{
.margin-right: 1px;
}
.mr-2{
.margin-right: 2px;
}
.mr-3{
.margin-right: 3px;
}
.mb-0{
    margin-bottom: 0px;
}
.mb-1{
    margin-bottom: 1px;
}
.mb-2{
    margin-bottom: 2px;
}
.mb-3{
    margin-bottom: 3px;
}
.mb-4{
    margin-bottom: 4px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-6{
    margin-bottom: 6px;
}
.servicemb{
    margin-bottom: 13px;
}

.text-center {
    text-align: center!important;
}


.wishlist{
    font-size: 12px;
    font-weight: 700;
    font-family: "Open Sans",sans-serif;
    margin: 0 0 0 3px;
}
.cart-btn{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #f16522;
    border: 1px solid #f16522;
}
.cart-btn-white{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
.customerimg{
    width: 50px;
    height: 43px;
}
.mt-auto, .my-auto {
    margin-top: auto!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
.fs-16 {
    font-size: 1rem !important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.pt-2, .py-2 {
    padding-top: .5rem!important;
}
.mr-3, .mx-3 {
    margin-right: 1rem!important;
}
.fs-16 {
    font-size: 1rem !important;
}
/*newsletter start*/
.newsletter_text {
    position: relative;
    padding-left: 46px;
}
.newsletter_text p:last-child {
    margin: 0;
}
.newsletter_text::before {
    content: "\e999";
    position: absolute;
    left: 0px;
    top:3px;
    color: #fff;
    font-family: linearicons;
    line-height: normal;
    font-size: 31px;
    line-height: normal;
    color: var(--primary);
    border-color: var(--primary);
}

/*newsletter end*/

/*service box start*/
.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 20px 10px 17px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #f6f6f6;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #666;
}
.card {
    padding: 10px;
    border: none;
    cursor: pointer
}

.card:hover {
    background-color: #eee
}

.card span {
    font-size: 14px
}
/*service box end*/
.h-60px, .size-60px {
    height: 60px;
}
.border {
    border: 1px solid #dee2e6!important;
}
.bg{
    background: #fbeae0;
}
.servicemargin{
    margin-top: 10px;
}
.servicemargin h3{
    font-size: 1.5rem;
    font-weight: 600;
    text-align:center
}
.counter-box1 {
    display: block;
    padding: 20px 10px 17px;
    text-align: center;
}
.coveragearea{
    font-size: 32px;
    font-weight: 700;
    color: #666;
    line-height: 28px;
}
.benefitimg {
    width: 70px;
    height: 63px;
}
.static-area .single-static .single-static-meta2 h4 {
    color: #1d1d1d;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 34px;
    margin-left: -8px;
    margin-bottom: 0;
}
/*service start*/
.setting-box.open-setting {
    right: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.setting-box {
    position: fixed;
    overflow-y: auto;
    width: 350px;
    right: -360px;
    background-color: white;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    position: fixed;
    right: 0px;
    top: 50%;
    z-index: 999;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-image: linear-gradient(137deg,#23a999 1%,#00a1ba 52%,#006597);
    margin-bottom: 15px;
    padding: 30px 35px;
    min-width:370px;
    padding: 0px;
    border-radius: 6px 0px 0px 6px;
    margin-top: -46px;
    -webkit-box-shadow: 0 15px 5px 0 rgb(77 77 77 / 28%);
    box-shadow: 0 15px 5px 0 rgb(77 77 77 / 28%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.setting-box .setting-contant {
    padding: 20px;
    border-bottom: 1px solid #efefef;
}

.setting-box .buy_btn {
    padding: 12px;
}
.setting-box .buy_btn a {
     background-color: #ffffff;
     color: #3c3c3c;
     padding: 10px;
     -webkit-transition: all 0.5s ease;
     transition: all 0.5s ease;
     border-radius: 8px;
     font-size: 14px;
     font-weight: 600;
     align-self: center;
 }

.headernaavbg{
    background: #f16522;
}
/*service end*/
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    color: #444444fa;
    margin: 0;
}
/*service page start*/
.list-group {
    position: sticky; /* Supported in latest version of Chrome, Firefox, Safari, Opera and Edge browsers */
    top: 100px;
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.list-group-item.active {
    z-index: 2;
    color: #01040d;
    border-right: 4px solid #f16522;
    background-color: #f4f5f8;
    font-weight: 700;
}

.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
    text-decoration: none;
    line-height: 2.63;
    padding: 0 0 0 15px;
}

.setting-box .buy_btn a {
    background-color: #ffffff;
    color: #3c3c3c;
    padding: 10px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 8px;
}

.serviceflex {
    display: flex;
}

.servicefastyle {
    color: #f16522;
    vertical-align: middle;
    font-weight: 700;
    margin-left: auto !important;
}

.h3servicing {
    line-height: 1.14;
    letter-spacing: .5px;
    color: #fff;
    font-weight: 600;
}

.liststyle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44;
    color: #fff;
    padding-bottom: 18px;
    padding-left: 0;
    position: relative;
}

.liststyle2 {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    padding-bottom: 10px;
    position: relative;
    display: list-item;

}

ul.timeline {
    list-style-type: none;
    position: relative;
    z-index: 1;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 51px;
    z-index: 1;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #f16522;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.safety {
    width: 300px;
    padding-bottom: 10px;
}
.reviewsafetyp{
    font-size: 16px;
    line-height: 1.5;
    color: #383a3c;
}
.safetyp{
    line-height: 1.5;
    color: #383a3c;
    margin-bottom: 22px;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Open Sans',sans-serif;
    padding-top: 15px;
}
.review-block-description p{
    font-size: 16px;
    line-height: 1.5;
    color: #383a3c;
    margin-top:5px;
    margin-bottom: 22px;
}

.fafarating {
    color: #ffff;
}

.reviewimage {
    width: 50px;
    height: 50px;
}

.fafaratingblack {
    color: #333;
}

.servicingh3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.5;
    color: #ffff;
}
.cartmargin{
    margin-top: 10px;
}
.btn-success {
    color: #fff;
    background-color: #ff4c3b;
    border-color: #ff4c3b;
}
.btn-success:hover {
    color: #fff;
    background-color: #ff2100;
    border-color: #ff2100; }
.btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem #ff2100; }
.list-group-item-servce {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, .9);
    text-decoration: none;
    line-height: 2.63;
    padding: 3px 6px 1px 15px;
    border: 1px solid #e2dddd;
}
.serviceoverview h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    margin-bottom: 20px;
}

.serviceoverview h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.56;
    color: rgba(0,0,0,.8);
    margin-bottom: 10px;
}
.service .tittle h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    margin-bottom: 20px;
}
.serviceoverview .list-unordered{
    list-style: none;
    padding-left: 18px;
}
.serviceoverview .list-unordered .liststyle2{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #383a3c;
    padding-bottom: 10px;
    padding-left: 5px;
    position: relative;

}
.serviceoverview .list-unordered .liststyle3 li span {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    line-height: 16px;
    border-radius: 50%;
    background-image: linear-gradient(135deg,#000 100%,#000 0,#000 0);
    color: #fff;
    top: 10px;
    left: -21px;
}

.serviceoverview .list-unordered  li::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    line-height: 16px;
    border-radius: 50%;
    background-image: linear-gradient(
            135deg
            ,#000 100%,#000 0,#000 0);
    color: #fff;
    text-align: center;
    top: 10px;
    left: -11px;
}

section#content {
    min-height: 400px;
    padding-top: 40px;
    text-align: left;
    background:#ffffff;
}
section#content2 {

    padding-top: 10px;
    text-align: left;
    background:#ffffff;
}

.container-toggle {
    background: #fff
}

.container-toggle .panel {
    margin-bottom: 0;
    box-shadow: none;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    border: none;
    position: relative
}

.container-toggle .panel:last-child {
    border: none
}

.container-toggle .panel .panel-title {
    padding: 0;
    color: #2d3e52;
    font-size:14px;
    position: relative
}

.container-toggle .panel .panel-title a {
    white-space: normal;
    display: block;
    padding: 15px;
    font-size: 16px;
}

.container-toggle .panel h1.panel-title {
    font-size: 2em
}

.container-toggle .panel h2.panel-title {
    font-size: 1.6667em
}

.container-toggle .panel h3.panel-title {
    font-size: 1.5em
}

.container-toggle .panel h4.panel-title {
    font-size: 1.3333em
}

.container-toggle .panel h5.panel-title {
    font-size: 1.1667em
}

.container-toggle .panel h6.panel-title {
    font-size: 1em
}

.container-toggle .panel.style1 .panel-title>a {
    line-height: 24px
}

.container-toggle .panel.style1 .panel-title>a:before {
    display: block;
    content: "-";
    font-family: FontAwesome;
    margin-right: 16px;
    line-height: 24px;
    font-size: 10px;
    float: left;
    width: 24px;
    height: 24px;
    text-align: center;
    color: #ffffff;
    background: #f16522;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%
}

.container-toggle .panel.style1 .panel-title>a.collapsed:before {
    content: "+";
    color: #fff;
    background: #f16522;
}
.panel-content p{
    font-size: 14px;
    line-height: 1.75;
    color: #383a3c;
}
.container-toggle .panel.style1 .panel-content {
    padding: 10px 15px 15px 55px
}

.container-toggle .panel.style1.arrow-right .panel-title {
    position: relative
}

.container-toggle .panel.style1.arrow-right .panel-title>a {
    padding-right: 36px
}

.container-toggle .panel.style1.arrow-right .panel-title>a:before {
    float: none;
    position: absolute;
    right: 0;
    height: 16px;
    line-height: 17px;
    width: 16px;
    font-size: 9px;
    border: none;
    margin-top: -8px;
    top: 50%
}

.container-toggle .panel.style1.arrow-right .panel-content {
    padding: 10px 15px
}

a:link {
    text-decoration: none
}
.faq h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    margin-bottom: 20px;
}
.servicedetails h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    margin-bottom: 20px;
}
.breadcrumb li a {
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: transparent !important;
}
.badge-img img {
    height: auto;
    width: 120px;
}
.sc-product-item h4{
    font-family: "Open Sans",sans-serif;
    font-weight: 600 !important;
    color: #444444fa !important;
    margin: 0 !important;
    font-size: 1rem !important;
}
.sc-cart-item h4{
    font-family: "Open Sans",sans-serif;
    font-weight: 600 !important;
    color: #444444fa !important;
    margin: 0 !important;
    font-size: 1rem !important;
}

/*service page end*/
/*checkout area start*/
.checkoutbg{
    padding-top: 0 !important;
    background-color: #f4f5f8 !important;
}
.checkout-section {
    margin-top: 10px;
    padding: 20px 25px;
    border-radius: 8px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: #fff;
}
.checkout-section-content {
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.checkout-section-content h4 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}
.checkout-section-content p {
    color: rgba(0,0,0,.5);
    margin-bottom: 20px;
}
.checkout-details-section {
    border-right: 1px solid rgba(0,0,0,.15);
    padding-right: 15px;
}
.checkout-details-section .change-btn {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px dashed #f16522;
    box-shadow: none;
    padding: 0 6px 5px 0;
    font-size: 14px;
    font-weight: 600;
    color: rgba(0,0,0,.9);
    text-align: center;
    text-transform: none;
}
.checkout-details-section-left-padding {
    padding-left: 15px;
}
.checkout-details-section .large-text {
    font-size: 32px;
    font-weight: 400;
    color: rgba(0,0,0,.9);
    line-height: 32px;
}
.checkout-details-section .small-text {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,.9);
    padding-left: 8px;
}
.checkout-details-section .customer-text {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0,0,0,.9);
}
.checkout-details-section-left-padding0{
    border-right: 0;
    padding-left: 15px;
}
.checkout-section-icon img {
    height: 42px;
    width: 42px;
    min-width: 42px;
    min-height: 42px;
    margin-right: 16px;
}
.checkout-section.red-border {
    margin-top: 0;
    border: 1px solid #f16522;
}
.disablecolor{
    padding: 10px 15px;
    border: 1px solid #c6c6c7;
    background-color: #e9ecef;
    opacity: 1;
}
.checkout-services li h5{
    font-weight: 400;

}
.checkout-services li ul {
    border-left: 2px solid rgba(0,0,0,.05);
    padding-left: 14px;

}
.checkout-services li{
    display: list-item ;
    margin-top: 3px;
}
.checkout-services li h5 {
    font-weight: 400;
}
.checkout-services-options a {
    list-style: none;
    margin-bottom: 15px;
}
.h5-title {
    font-size: 16px;
    font-weight: 600;
}
.checkout-services-options{
    list-style: none;
    margin-bottom: 15px;
}
.alert-section-error {
    background-color: rgba(177,54,67,.1);
    border-left: 5px solid #f16522;
}
.alert-section {
    padding: 8px 10px;
    vertical-align: middle;
    margin: 15px 0;
}
.alert-section, .img-border-radius, .round-border {
    border-radius: 8px;
}
.alert-section .alert-text {
    padding-left: 7px;
    color: rgba(0,0,0,.9);
}
.additional-section span {
    padding-left: 10px;
}
.h6-title-regular-weight {
    font-weight: 400;
}
.h6-title{
    font-size: 14px;
}
.additional-section-textarea {
    padding-top: 20px;
}

/*checkout area end*/
/*Schedule Time start*/
.order-journey-title {
    padding: 16px 16px 10px;
    text-align: center;
    position: relative;
    z-index: 5;
    min-height: 55px;
}
.shadow--title-card {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}

.order-journey-title h4{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.h4-title[data-v-da15c880] {
    font-size: 18px;
}
@media only screen and (max-height: 650px){
    .order-journey-content{
        height: 89%;
    }
}
.order-journey-content {
    -webkit-box-flex: 1;
    flex-grow: 1;
    height: 90%;
    max-height: 485px;
    overflow: hidden;
    position: relative;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.order-journey-content section {
    height: 100%;
}
.schedule-select{
    height: 490px;
    padding: 20px 0 55px;
    overflow-y: scroll;
}
.custom-scrollbar {
    overflow: auto;
}
.schedule-select-title{
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}
.schedule-date {
    margin-top: 10px;
}
.schedule-date h6 {
    color: rgba(0,0,0,.5);
    text-align: center;
    font-weight: 400;
}
.h6-title {
    font-size: 14px;
}
.schedule-date-slider {
    max-width: 460px;
    margin: 20px auto;
}
.glide-swipeable {
    cursor: grab;
    cursor: -webkit-grab;
}
.glide {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.glide-track {
    padding: 0 1px;
}
.glide-slides, .glide-track {
    overflow: hidden;
}
.glide-slides {
    padding: 0 5px 5px!important;
}
.glide-slides {
    position: relative;
    width: 100%;
    list-style: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    padding: 0;
    white-space: nowrap;
    display: -webkit-box;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform;
}
.glide-slides, .glide-track {
    overflow: hidden;
}
.schedule-date-card {
    text-align: center;
}
.schedule-date-card button.selected {
    border: 1.2px solid #f16522;
    background-color: #ffff;
}
.schedule-date-slider {
    max-width: 100%;

}
.schedule-time-card:hover {
    border: 1.2px solid #d3d3d3!important;
    background-color: #de5310!important;
    opacity: .75;
}
.schedule-time-card:active, .schedule-time-card:focus {
    box-shadow: none!important;
    outline: 0!important;
    background-color: #de5310!important;
    border:1px solid #de5310!important;
}
.schedule-date-card button {
    background-color: #fff;
    border-radius: 4px;
    border: 1.2px solid #de5310;
    margin: 0;
    padding: 10px;
    height: 80px;
    max-width: 70px!important;
    min-width: 60px;
}
.schedule-time-container {
    max-width: 514px;
    margin: 10px auto;
}
.schedule-select-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
    z-index: 2;
}
.schedule-time h6 {
    color: rgba(0,0,0,.5);
    text-align: center;
    font-weight: 400;
}
.schedule-date-card button h1 {
    color: #444243;
    font-weight: 400;
    margin: 0;
    font-size: 32px;
}
.schedule-date-card button p {
    color: #000000;
    font-weight: 400;
    margin: 0;
    font-size: 14px;
}
.schedule-date-card button.selected h1, .schedule-date-card button.selected p {
    color: #f16522!important;
}
.schedule-select-action button{
    color: #fff!important;
    text-transform: capitalize;
    font-weight: 400;
    padding: 0 20px;
    height: 45px;
    min-height: 45px;
}
.schedule-time-card.selected span {
    color: #6c757d;
    font-weight: 700;
}
.active, .btn:hover {
    background-color: #de5310;
    color: white !important;
  }
.time_active, .btn:hover {
    background-color: #de5310;
    color: white !important;
  }
/*checkout responsive start*/
@media (min-width: 320px) and (max-width: 768px){
    .checkout__details {
        margin-top: 12px;
        padding-left: 0;
    }
    .checkout-details-section-left-padding {
        padding-left: 10px;
    }
    .checkout-details-section {
        border-right: 1px solid rgba(0,0,0,.15);
        padding-right: 0;
        align-self: center;
    }
    .checkout-section {
        position: relative;
        margin-top: 15px;
        padding: 20px 15px;
        border-radius: 0;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        background-color: #fff;
    }
    .checkout-section-icon img {
        height: 32px;
        width: 32px;
        min-width: 32px;
        min-height: 32px;
        margin-right: 5px;
        border-radius: 4px;
    }
    .checkout-section-content {
        -webkit-box-flex: 1;
        flex-grow: 1;
        padding-left: 5px;
    }
    .checkout-section-content p {
        margin-top: 5px;
        margin-bottom: 20px;
        line-height: 1.5;
    }
    .checkout-section-content h4{
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 0;
    }
    .checkout-section-content p {
        margin-top: 5px;
        margin-bottom: 20px;
        line-height: 1.5;
    }
    .checkout-details-section .h3-title {
        font-weight: 500;
        font-size: 20px;
        color: rgba(0,0,0,.9);
    }
    .checkout-details-section .small-text {
        font-size: 12px;
        font-weight: 400;
        padding-right: 10px;
        text-transform: capitalize;
        color: rgba(0,0,0,.9);
    }
    .checkout-details-section .large-text {
        font-size: 20px;
        font-weight: 400;
        color: rgba(0,0,0,.9);
        line-height: 32px;
    }
    .checkout-details-section .change-btn {
        position: absolute;
        right: 10px;
        top: 12px;
        padding: 0 5px 5px 0;
        font-size: 12px;
        font-weight: 600;
    }
    schedule-select {
        background-color: #f4f5f8;
        position: relative;
        height: 100vh;
        width: 100%;
        padding: 0;
        overflow-y: auto;
    }
    .checkout {
        padding-top: 40px;
        position: relative;
        width: 100vw;
    }
}
@media screen and (max-width: 768px){
    .schedule-date-slider {
        margin: 20px auto 10px;
        padding-right: 0;
        padding-left: 5px;
    }
    .schedule-time {
        margin-bottom: 100px;
        margin-top: 0;
        background-color: #fff;
        padding: 15px 10px;
    }
    .schedule-time h6 {
        max-width: 280px;
        margin: 0 auto;
    }
    .schedule-time-container {
        padding: 10px 30px;
    }
}


/*checkout responsive start*/
/*Schedule Time end*/

